<div class="container" style="display: flex; justify-content: center; margin-top: 10%;">
  <div class=" h-custom card w-100 mt-4">
    <div class="row d-flex justify-content-center align-items-center h-100 ">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid"
          alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form class="example-form" [formGroup]="UserRegister">
          <div class=" lead fw-bold mb-4 mt-4 d-flex justify-content-center">
            <label>Registration Form</label>
          </div>
          <mat-stepper headerPosition="bottom" #stepper>
            <mat-step [stepControl]="UserRegister">
              <form [formGroup]="UserRegister">

                <!-- First Name -->
                <div>
                  <mat-form-field appearance="outline" class="input_middle">
                    <mat-label>First Name</mat-label>
                    <input matInput formControlName="firstname">
                    <mat-error *ngIf="this.UserRegister.get('firstname').hasError('required')">Please enter your
                      FirstName</mat-error>
                    <mat-error *ngIf="this.UserRegister.get('firstname').hasError('firstname')">Please enter correct
                      FirstName</mat-error>
                    <mat-error *ngIf="this.UserRegister.get('firstname').hasError('minlength')">FirstName should at
                      least 2 characters</mat-error>
                    <mat-error *ngIf="this.UserRegister.get('firstname').hasError('maxlength')">FirstName should not
                      have 20 characters
                    </mat-error>
                  </mat-form-field>
                </div>

                <!-- Middle Name -->
                <div>
                  <mat-form-field appearance="outline" class="input_middle">
                    <mat-label>Middle Name</mat-label>
                    <input matInput formControlName="middlename">
                    <mat-error *ngIf="this.UserRegister.get('middlename').hasError('required')">Please enter your
                      Middlename</mat-error>
                    <mat-error *ngIf="this.UserRegister.get('middlename').hasError('middlename')">Please enter correct
                      Middlename</mat-error>
                    <mat-error *ngIf="this.UserRegister.get('middlename').hasError('minlength')">Middlename should at
                      least 2 characters</mat-error>
                    <mat-error *ngIf="this.UserRegister.get('middlename').hasError('maxlength')">Middlename should not
                      have 20 characters </mat-error>
                  </mat-form-field>
                </div>

                <!-- Last Name -->
                <div>
                  <mat-form-field appearance="outline" class="input_last">
                    <mat-label>Last Name</mat-label>
                    <input matInput formControlName="lastname">
                    <mat-error *ngIf="this.UserRegister.get('lastname').hasError('required')">Please enter your
                      LastName</mat-error>
                    <mat-error *ngIf="this.UserRegister.get('lastname').hasError('lastname')">Please enter correct
                      LastName</mat-error>
                    <mat-error *ngIf="this.UserRegister.get('lastname').hasError('minlength')">LastName should at
                      least 2 characters</mat-error>
                    <mat-error *ngIf="this.UserRegister.get('lastname').hasError('maxlength')">LastName should not have
                      20 characters</mat-error>
                  </mat-form-field>
                </div>

                <!-- Email -->
                <div>
                  <mat-form-field appearance="outline" class="input_email">
                    <mat-label>Enter your email</mat-label>
                    <input matInput placeholder="pat@example.com" formControlName="email">
                    <mat-error *ngIf="this.UserRegister.get('email').hasError('required')">Please enter your
                      email</mat-error>
                    <mat-error *ngIf="this.UserRegister.get('email').hasError('email')">Please enter valid
                      email</mat-error>
                  </mat-form-field>
                </div>

                <div style="display: flex; justify-content: end">
                  <button mat-button matStepperNext class="arrow_f">
                    <mat-icon>arrow_forward</mat-icon>
                  </button>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="UserRegister">
              <form [formGroup]="UserRegister">

                <!-- Password -->
                <mat-form-field appearance="outline" class="input_pass">  
                  <mat-label>Enter your password</mat-label>
                  <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                  <mat-error *ngIf="this.UserRegister.get('password').hasError('required')">Please enter your
                    password</mat-error>
                  <mat-error *ngIf="this.UserRegister.get('password').hasError('password')">Please enter correct
                    password</mat-error>
                  <mat-error *ngIf="this.UserRegister.get('password').hasError('minlength')">Password must be at least 8
                    characters</mat-error>
                  <mat-error *ngIf="this.UserRegister.get('password').hasError('maxlength')">Password should not have 10
                    characters</mat-error>
                </mat-form-field>

                <!-- Confirm Password -->
                <mat-form-field appearance="outline" class="input_pass">
                  <mat-label>Enter your confirm password</mat-label>
                  <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmpassword">
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                  <mat-error *ngIf="this.UserRegister.get('confirmpassword').hasError('required')">Please enter your
                    confirm password</mat-error>
                  <mat-error *ngIf="this.UserRegister.get('confirmpassword').hasError('confirmpassword')">Please enter
                    correct
                    password</mat-error>
                  <mat-error *ngIf="this.UserRegister.get('confirmpassword').hasError('minlength')">Confirm Password
                    must be at least 8 characters</mat-error>
                  <mat-error *ngIf="this.UserRegister.get('confirmpassword').hasError('maxlength')">Confirm Password
                    should not have 10 characters</mat-error>
                </mat-form-field>

                <!-- Phone Number -->
                <div>
                  <mat-form-field appearance="outline" class="input_phone">
                    <mat-label>Enter your Phone No</mat-label>
                    <input matInput formControlName="phone">
                    <mat-error *ngIf="this.UserRegister.get('phone').hasError('required')">Please enter your
                      Phone Number</mat-error>
                  </mat-form-field>
                </div>

                <!-- Country -->
                <div class="relative">
                  <mat-form-field appearance="outline" class="country"> 
                    <mat-label>Country</mat-label>
                    <input type="text" formControlName="country" (change)="getCity($event)" matInput
                      [matAutocomplete]="auto">
                    <mat-icon matSuffix>arrow_drop_down</mat-icon>
                    <mat-autocomplete #auto="matAutocomplete">
                      <mat-option *ngFor="let country of filteredcountry | async" [value]="country.name">
                        {{ country.name }}
                      </mat-option>
                    </mat-autocomplete>
                    <mat-error *ngIf="this.UserRegister.get('country').hasError('required')">Please enter
                      country</mat-error>
                  </mat-form-field>
                </div>

                <div style="display: flex; justify-content: space-between;">
                  <button mat-button matStepperPrevious class="arrow_b">
                    <mat-icon>arrow_back</mat-icon>
                  </button>
                  <button mat-button matStepperNext class="arrow_f">
                    <mat-icon>arrow_forward</mat-icon>
                  </button>
                </div>
              </form>
            </mat-step>
            <mat-step>

              <!-- City -->
              <div class="relative">
                <mat-form-field appearance="outline" class="city">
                  <mat-label>City</mat-label>
                  <input type="text" formControlName="city" matInput [matAutocomplete]="autoCity">
                  <mat-icon matSuffix>arrow_drop_down</mat-icon>
                  <mat-autocomplete #autoCity="matAutocomplete">
                    <mat-option *ngFor="let city of filteredcity | async" [value]="city">
                      {{ city }}
                    </mat-option>
                  </mat-autocomplete>
                  <mat-error *ngIf="this.UserRegister.get('city').hasError('required')">Please enter
                    city</mat-error>
                </mat-form-field>
              </div>

              <!-- Gender -->
              <div>
                <label class="gender">Gender: </label>
                <mat-radio-group>
                  <mat-radio-button value="auto">Male</mat-radio-button>
                  <mat-radio-button value="always">Female</mat-radio-button>
                  <mat-radio-button value="always">Other</mat-radio-button>
                </mat-radio-group>
              </div>

              <!-- Date of Birth -->
              <div style="margin-top: 5%;">
                <mat-form-field appearance="outline" class="mate-date">
                  <mat-label>Date of birth</mat-label>
                  <input matInput [matDatepicker]="picker" formControlName="dateofbirth">
                  <mat-datepicker-toggle matIconSuffix [for]="picker" class="datepicker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                  <mat-error *ngIf="this.UserRegister.get('datepicker').hasError('required')">Please enter
                    Birthdate</mat-error>
                </mat-form-field>
              </div>

              <!-- Pin code -->
              <div>
                <mat-form-field appearance="outline" class="input_pincode">
                  <mat-label>Pin code</mat-label>
                  <input matInput formControlName="pincode">
                  <mat-error *ngIf="this.UserRegister.get('pincode').hasError('required')">Please enter your
                    Pincode</mat-error>
                  <mat-error *ngIf="this.UserRegister.get('pincode').hasError('minlength')">Pincode must be at least 6
                    digit
                  </mat-error>
                </mat-form-field>
              </div>

              <!-- Register Button -->
              <div class="button" style="display: flex; justify-content: center;">
                <button mat-raised-button color="primary" (click)="register()">Submit</button>
              </div>

              <div class="arrow" style="display: flex; justify-content: space-between;">
                <button mat-button matStepperPrevious class="arrow_b">
                  <mat-icon>arrow_back</mat-icon>
                </button>
              </div>
            </mat-step>
          </mat-stepper>
        </form>
      </div>
    </div>
  </div>