.mat-form-field-flex {
    background-color: aqua !important;
}

.example-card {
    width: 20%;
    align-content: center !important;
    margin: 5%;
}

.example-form {
    align-items: center;
}

.form-outline {
    border-color: black;
}

.input_emaill {
    width: 100%;
}

.input_passs {
    width: 100%;
}

.box {
    margin-top: 15%;
}

@media only screen and (max-width: 320px) {
    .box {
        margin-top: 40% !important;

    }
}

@media only screen and (max-width: 375px) {
    .box {
        margin-top: 30% !important;

    }
}

@media only screen and (max-width: 425px) {
    .box {
        margin-top: 20% !important;

    }
}